# DELE ST1504 CA2
# PART A: GAN

<hr>

**NAME**: Irman Zafyree, Adam Tan, Joachim

**ADMIN NO**: `2300546`, `<ADM NO.>`, `<ADM NO>`

**CLASS**: DAAA/FT/2B/07

<hr>

**Objective:**